extends layout

block pagescript
    script.
        require(['/js/config.js'], function() {
            require(['bootstrap', 'app/game'])
        });

block content
    div.hidden.gamedata(data-start="#{game.start}", data-id="#{game.id}", data-drinks="#{game.drinks}")
    .container
        include includes/header
        .game
            .row
                .col-md-12
                    .drink-display-container
                        span.drink-display Drink
                        span.drink-display.counter
            .row
                .col-md-12
                    .timer-container
                        .timer
            .row
                .col-md-11.col-centered
                    br
                    .ctrl-buttons-container
                        .row
                            .ctrl-buttons
                                div.button.pause
                                    span.pause PAUSE
                                div.button.end
                                    span.end END
            .row
                .col-md-11
                    br
                    .options-container
                        select#countDirectionSelect.selectpicker
                            option(value="up") Up
                            option(value="down") Down
                        select#alertSelect.selectpicker
                            option(value="good") Good
                            option(value="dumb") Dumb
                            option(value="silent") Silent
                    br
                    br
                    br


