extends layout

block pagescript
    script.
        require(['/js/config.js'], function() {
            require(['bootstrap', 'app/game'])
        });

block content
    div.hidden.gamedata(data-start="#{game.start}", data-id="#{game.id}", data-drinks="#{game.drinks}")
    .silent-alert
        span DRINK!
    .container
        include includes/header
        .game
            .row
                .col-md-12
                    .drink-display-container
                        span.drink-display Drink
                        span.drink-display.counter
            .row
                .col-md-12
                    .timer-container
                        .timer
            .row
                .col-md-12
                    br
                    .ctrl-buttons-container
                        .row
                            .ctrl-buttons
                                span.button.pause PAUSE
            .row
                .options-container
                    .col-md-6
                        .option-container
                            label Count Direction:
                            select#countDirectionSelect.selectpicker
                                option(value="up") Up
                                option(value="down") Down
                    .col-md-6
                        .option-container
                            label Alert:
                            select#alertSelect.selectpicker
                                option(value="good") Good
                                option(value="dumb") Dumb
                                option(value="silent") Silent
            .row
                .col-md-12
                    br
                    br
                    footer
                        span Created, January 2014


