/* line 3, ../../scss/main.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 8, ../../scss/main.scss */
.headerTitle {
  padding: 12px;
}

/* line 12, ../../scss/main.scss */
.silent-alert {
  position: absolute;
  background: red;
  width: 100%;
  height: 200%;
  z-index: 1000;
  padding-top: 12em;
  display: none;
}

/* line 22, ../../scss/main.scss */
.silent-alert span {
  color: white;
  font-size: 25em;
  margin-left: 1em;
}

/* line 28, ../../scss/main.scss */
.game-list {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  height: 50em;
  overflow-y: scroll;
  border: solid 1px lightgray;
}

/* line 35, ../../scss/main.scss */
.game-display p.game-title {
  font-size: 2em;
  font-weight: bolder;
}

/* line 40, ../../scss/main.scss */
.game .ctrl-buttons {
  margin-left: 32em;
}

/* line 44, ../../scss/main.scss */
.game button.ctrl-button {
  margin-right: 1em;
}

/* line 48, ../../scss/main.scss */
.game .drink-display-container {
  text-align: center;
}

/* line 52, ../../scss/main.scss */
.game .drink-display {
  font-size: 6em;
  padding: 0em;
  margin: 0em;
}

/* line 58, ../../scss/main.scss */
.game .timer {
  margin: -.25em;
  text-align: center;
  font-size: 30em;
  font-weight: normal;
}

/* line 65, ../../scss/main.scss */
.game .button {
  text-align: center;
  font-size: 4em;
  font-weight: bolder;
  width: 5em;
  float: left;
}

/* line 75, ../../scss/main.scss */
.game .button.pause {
  background: #bdc3c7;
  color: #ecf0f1;
}

/* line 80, ../../scss/main.scss */
.game .button.end {
  background: #c0392b;
  color: #e74c3c;
}

/* line 85, ../../scss/main.scss */
.options-container {
  margin-left: 5em;
}

/* line 89, ../../scss/main.scss */
.option-container {
  float: left;
  margin-left: 5em;
  margin-top: 2em;
}

/* line 95, ../../scss/main.scss */
.option-container label {
  font-size: 1.5em;
  margin-right: 1em;
}

/* line 100, ../../scss/main.scss */
footer {
  text-align: center;
}

/* line 104, ../../scss/main.scss */
footer span {
  color: grey;
}

/* line 108, ../../scss/main.scss */
.hidden {
  display: none;
}
