/* line 3, ../../scss/main.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 8, ../../scss/main.scss */
.headerTitle {
  padding: 12px;
}

/* line 12, ../../scss/main.scss */
.game-list {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  height: 50em;
  overflow-y: scroll;
  border: solid 1px lightgray;
}

/* line 19, ../../scss/main.scss */
.game-display p.game-title {
  font-size: 2em;
  font-weight: bolder;
}

/* line 28, ../../scss/main.scss */
.game button.ctrl-button {
  margin-right: 1em;
}

/* line 32, ../../scss/main.scss */
.game .drink-display-container {
  text-align: center;
}

/* line 36, ../../scss/main.scss */
.game .drink-display {
  font-size: 6em;
  padding: 0em;
  margin: 0em;
}

/* line 42, ../../scss/main.scss */
.game .timer {
  margin: -.25em;
  text-align: center;
  font-size: 30em;
  font-weight: normal;
}

/* line 49, ../../scss/main.scss */
.game .button {
  text-align: center;
  font-size: 4em;
  font-weight: bolder;
  width: 4em;
  float: left;
}

/* line 59, ../../scss/main.scss */
.game .button.pause {
  background: #bdc3c7;
  color: #ecf0f1;
}

/* line 64, ../../scss/main.scss */
.game .button.end {
  background: #c0392b;
  color: #e74c3c;
}

/* line 69, ../../scss/main.scss */
.hidden {
  display: none;
}
